@media (prefers-color-scheme: dark){
  :root{
    --color-primary: #0f172a; /* slate-900 */
    --color-secondary: oklch(27.9% 0.041 260.031); /* slate-50 */
    --color-blue-primary: oklch(37.9% 0.146 265.522); /* blue-900 */ 
    --color-blue-secondary: #60a5fa; /* blue-400*/
    --color-blue-tertiary: #3b82f6; /*blue-500*/ 
    --color-muted: #94a3b8; /* slate-400*/
    --bg-glow: rgba(59, 130, 246, 0.2);
    --bg-accent : rgba(6, 182, 212, 0.2);
    --bg-highlight: rgba(168, 85, 247, 0.2);
    --color-subtle: #cbd5e1; /* slate-300 */
    --color-white: #ffffff;
    --color-strong: #475569; /*slate-600*/
    --color-foreground :#334155; /* slate-700*/ 
    --color-primary-dark: #1e293b; /* slate-800*/
    --color-red-primary: #f87171; /* red-400*/
    --color-red-secondary: #ef4444; /* red-500 */ 
    --color-red-tertiary: #dc2626; /* red-600 */
    --color-red-quaternary: #b91c1c; /* red-700*/ 
    --color-green: #4ade80; /* green-400 */ 
    --color-purple: #c084fc;
    --color-cyan: #22d3ee; /* cyan-400 */
  }
  }
  
  @import "tailwindcss";
  
  @import "tw-animate-css";
  
  @custom-variant dark (&:is(.dark *));
  
  @theme inline {
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-blue-primary: var(--color-blue-primary);
    --color-blue-secondary: var(--color-blue-secondary);
    --color-blue-tertiary: var(--color-blue-tertiary);
    --color-muted: var(--color-muted);
    --color-glow: var(--bg-glow);  
    --color-accent: var(--bg-accent);
    --color-highlight: var(--bg-highlight);
    --color-subtle: var(--color-subtle);
    --color-white: var(--color-white);
    --color-strong: var(--color-strong);
    --color-foreground: var(--color-foreground);
    --color-primary-dark: var(--color-primary-dark);
    --color-red-primary: var(--color-red-primary);
    --color-red-secondary: var(--color-red-secondary);
    --color-red-tertiary: var(--color-red-tertiary);
    --color-red-quaternary: var(--color-red-quaternary);
    --color-green: var(--color-green);
    --color-purple: var(--color-purple);
    --color-cyan: var(--color-cyan);
    /* bg-glow text-glow */
    /* --color-foreground: var(--color-text-primary);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  
    --color-sidebar-ring: var(--color-border);
    --color-sidebar-border: var(--color-border);
    --color-sidebar-accent-foreground: var(--color-text-primary);
    --color-sidebar-accent: var(--color-accent-blue);
    --color-sidebar-primary-foreground: var(--color-text-primary);
    --color-sidebar-primary: var(--color-bg-secondary);
    --color-sidebar-foreground: var(--color-text-secondary);
    --color-sidebar: var(--color-bg-primary);
  
    --color-chart-5: var(--color-accent-purple);
    --color-chart-4: var(--color-accent-green);
    --color-chart-3: var(--color-accent-red);
    --color-chart-2: var(--color-accent-cyan);
    --color-chart-1: var(--color-accent-blue);
  
    --color-ring: var(--color-border);
    --color-input: var(--color-bg-secondary);
    --color-border: var(--color-border);
    --color-destructive: var(--color-accent-red);
    --color-accent-foreground: var(--color-text-primary);
    --color-accent: var(--color-accent-blue);
    --color-muted-foreground: var(--color-text-secondary);
    --color-muted: var(--color-bg-secondary);
    --color-secondary-foreground: var(--color-text-primary);
    --color-secondary: var(--color-bg-secondary);
    --color-primary-foreground: var(--color-text-primary);
    --color-primary: var(--color-bg-primary);
    --color-popover-foreground: var(--color-text-primary);
    --color-popover: var(--color-bg-secondary);
    --color-card-foreground: var(--color-text-primary);
    --color-card: var(--color-bg-secondary);
  
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px); */
    /* --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
  }
  
  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
  }
  
  @layer base {
    * {
      @apply border-border outline-ring/50;
    }
    body {
      @apply bg-background text-foreground;
    } */
  }